.popup {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    right: 0;
    top: 0;
}

body{

    font-family: Helvetica;
    background: #3c3d46;
    font-size: 14px;
    color: #ededed;
}

h1{
    font-size: 30px;
    font-family: Calibri;
    color: #696998;
}

button{
    font-size: 12px;
}

input, label, p{
    width: 160px;
    display: block;
    margin: 8px;
}